/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root{
  /* COLORS */
  /* Background colors */
  --color-background-primary: rgb(255, 255, 255);
  --color-background-contrast: rgb(0, 0, 0);
  /* Highlight colors (eg. borders) */
  --color-highlight-primary: rgba(221, 221, 221, 1);
  /* Text colors */
  --color-text-primary: rgb(0, 0, 0);
  --color-text-secondary: rgba(102, 102, 102, 1);
  --color-text-contrast: rgb(255, 255, 255);

  /* FONT SIZES */
  /* Extra Small (XS) for captions */
  --font-size-xs: 10px;
  /* Small (SM) for secondary text */
  --font-size-sm: 12px;
  /* Medium (MD) for body text */
  --font-size-md: 14px;
  /* Large (LG) for subheadings */
  --font-size-lg: 16px;
  /* Extra Large (XL) for H3 */
  --font-size-xl: 18px;
  /* Double Extra Large (XXL) for H2 */
  --font-size-xxl: 22px;
  /* Triple Extra Large (XXXL) for H1 */
  --font-size-xxxl: 26px;
}
